body {
 margin:0; 
 font-family: Arial, Helvetica, sans-serif;
}
.navbar {
 overflow: hidden; 
 background-color :#fce8f2;
}

.navbar a {
 float: left;
 color :#75B8E9;
 text-a-light: center; 
 padding: 14px 16px; 
 text decoration: none; 
 font-size: 17px;
} 

h3 { 
 color: #002f5c;
 } 
h4 { 
 color: #0489B1;
}
.column {
 width: 100%;
 float: left; 
 padding: 10px; 
 height: 500px;
}
