body {
 margin:0; 
 font-family: Arial, Helvetica, sans-serif;
}
.navbar {
 overflow: hidden; 
 background-color :#fce8f2;
}

.navbar a {
 float: left;
 color :#75B8E9;
 text-a-light: center; 
 padding: 14px 16px; 
 text decoration: none; 
 font-size: 17px;
} 

h3 { 
 color: #002f5c;
 } 
h4 { 
 color: #0489B1;
}
78% {
 color: #ecf4e3
}
88% { 
 color: #f7f0cf
}
98% {
 color: #f2e8f7
}
100% {
 color: #e5f9f1
}
.wow {
 background-color: #F8CBBF;
 width:100%;
 float: left;
 padding: 10px; 
 height: 700px;

<img src="https://github.com/catherinechx1/Portfolio/blob/gh-pages/Apple%20Iphones.jpg?raw=true" width="150" height="150">
 float: middle;
}
.column {
 background-color: #BFDCF8;
 width: 100%;
 float: left; 
 padding: 10px; 
 height: 500px;
}
.KoreanBarbeque {
 float: middle;
}
h1 {background-color: #FED3C7;}

.great {
 background-color: #E4F8BF;
 width: 100%;
  float: left;
  padding: 10px;
  height: 300px;
}
