.navbar {
 overflow: hidden; 
 background-color :#e2cdf2;
}

.navbar a {
 float: left;
 color :#dee5e8;
 text-a-light: center; 
 padding: 14px 16px; 
 text decoration: none; 
 font-size: 17px;
} 

h3 { 
 color: #002f5c;
 } 
h4 { 
 color: #0489B1;
}
